## Load original data

Load the data from "Kaggle_bank_churn.csv" into a dataframe.

In [16]:
df_kaggle = pd.read_csv("/content/sample_data/Kaggle_bank_churn.csv")
print(df_kaggle.head())

   RowNumber  CustomerId Surname  CreditScore Geography  Gender  Age  Tenure  \
0          1    15629956  Garcia          704    France    Male   20     1.0
1          2    15148882   Smith          684   unknown  Female   65    10.0
2          3    15620423   Brown          830    France    Male   27     9.0
3          4    15666649   Jones          309     Spain  Female   27     6.0
4          5    15414526     Lee          477    France   other   33     9.0

         Balance  NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary  \
0   42173.970118              3          0               1     30089.172189
1   73452.686690              3         99               0      3510.037593
2  162509.470135              2          0               1    152270.459603
3   42106.650311              4          0               0     88705.200772
4  195514.849105              3         99               1      1672.419108

   Exited
0       1
1       1
2       0
3       1
4       1

## Load cleaned data

### Subtask:
Load the data from "cleaned_data.csv" into a dataframe.

**Reasoning**:
Load the data from the specified CSV file into a pandas DataFrame and display its head and column names to confirm successful loading.

In [17]:
df = pd.read_csv("/content/sample_data/cleaned_data.csv")
print(df.head())
print(df.columns)

   num__CreditScore  num__Age  num__Tenure  num__Balance  num__NumOfProducts  \
0         -0.039196  0.124312    -1.013669     -1.335200           -1.394443
1         -0.125802  0.043188    -1.350455     -0.125025           -1.394443
2         -0.960374  0.124312     1.007046      0.970282            0.367244
3          0.590669 -0.119059    -1.350455     -1.335200           -0.513599
4          1.779540  0.205435    -1.013669      0.477160           -1.394443

   num__HasCrCard  num__IsActiveMember  num__EstimatedSalary  num__Exited  \
0        0.667295             0.977510             -0.581393     1.530205
1       -1.498588             0.977510             -0.459792    -0.653507
2        0.667295            -1.023007             -0.444703     1.530205
3       -1.498588            -1.023007             -0.663110    -0.653507
4        0.667295             0.977510             -0.823263    -0.653507

   cat__Geography_France  cat__Geography_Germany  cat__Geography_Spain  \
0                    1.0                     0.0                   0.0
1                    0.0                     0.0                   1.0
2                    1.0                     0.0                   0.0
3                    1.0                     0.0                   0.0
4                    0.0                     0.0                   1.0

   cat__Gender_Female  cat__Gender_Male  cat__Gender_nan
0                 1.0               0.0              0.0
1                 1.0               0.0              0.0
2                 1.0               0.0              0.0
3                 1.0               0.0              0.0
4                 1.0               0.0              0.0
Index(['num__CreditScore', 'num__Age', 'num__Tenure', 'num__Balance',
       'num__NumOfProducts', 'num__HasCrCard', 'num__IsActiveMember',
       'num__EstimatedSalary', 'num__Exited', 'cat__Geography_France',
       'cat__Geography_Germany', 'cat__Geography_Spain', 'cat__Gender_Female',
       'cat__Gender_Male', 'cat__Gender_nan'],
      dtype='object')

## Merge dataframes

### Subtask:
Merge the two dataframes on a common key (likely the customer ID).

**Reasoning**:
Examine the columns of both dataframes to find a common customer ID column and then merge the dataframes based on that column.

In [12]:
print("Columns in df_kaggle:")
print(df_kaggle.columns)
print("\nColumns in df:")
print(df.columns)

Columns in df_kaggle:
Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

Columns in df:
Index(['num__CreditScore', 'num__Age', 'num__Tenure', 'num__Balance',
       'num__NumOfProducts', 'num__HasCrCard', 'num__IsActiveMember',
       'num__EstimatedSalary', 'num__Exited', 'cat__Geography_France',
       'cat__Geography_Germany', 'cat__Geography_Spain', 'cat__Gender_Female',
       'cat__Gender_Male', 'cat__Gender_nan'],
      dtype='object')

## Feature engineering

### Subtask:
Perform the existing feature engineering steps on the merged dataframe.

**Reasoning**:
Perform the requested feature engineering calculations on the dataframe `df`.

In [13]:
df["Balance_to_Salary"] = df["num__Balance"] / (df["num__EstimatedSalary"] + 1)
df["Tenure_by_Age"] = df["num__Tenure"] / (df["num__Age"] + 1)

print(df[["Balance_to_Salary", "Tenure_by_Age"]].head())

   Balance_to_Salary  Tenure_by_Age
0          -3.189628      -0.901591
1          -0.231439      -1.294546
2           1.747321       0.895700
3          -3.963310      -1.532968
4           2.699828      -0.840915